<div class="panel panel-{% if documents|length > 0 %}default{% else %}warning{% endif %}">
	<div class="panel-heading">
		<h3 class="panel-title">
			{{ gettext("Documents") }} {{change_label(parent, 'documents')}}
		</h3>
	</div>
	<div class="panel-body">
		{% if documents|length > 0 %}
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{ gettext("Title") }}</th>
						<th>{{ gettext("Type") }}</th>
						<th>{{ gettext("Description") }}</th>
						<th>{{ gettext("Date published") }}</th>
						<th>{{ gettext("Date modified") }}</th>
						<th>{{ gettext("Format") }}</th>
						<th>{{ gettext("Language") }}</th>
					</tr>
				</thead>
				<tbody>
					{% for document in documents %}
						<tr> <!-- add conditional colouring based on presence of url? -->
							<td>{{change_label(document, 'url')}} <a href="{{document.url}}" target="_blank">{{ document.title }}</a>{{change_label(document, 'title')}}</td>
							<td>{{ document.type }} {{change_label(document, 'type')}}</td>
							<td>{{ document.description }} {{change_label(document, 'description')}}</td>
							<td>{{ document.datePublished|truncate(10,true,"") }} {{change_label(document, 'datePublished')}}</td> <!-- add time hover over? -->
							<td>{{ doucment.dateModified|truncate(10,true,"") }} {{change_label(document, 'dateModified')}}</td> <!-- add time hover over? -->
							<td>{{ document.format}} {{change_label(document, 'format')}}</td>
							<td>{{ document.language}} {{change_label(document, 'language')}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% else %}
			{{ gettext("No documents provided") }}
		{% endif %}
	</div>
</div>
