<h2>
	<small>{{organization.name}}</small>
</h2>
<p>
	<div class="panel panel-{% if organization.contactPoint %}default{% else %}warning{% endif %}">
		<div class="panel-heading">
			<h3 class="panel-title">
				{{ gettext("Contact Point")}}
			</h3>
		</div>
		<div class="panel-body">
			{% if organization.contactPoint %}
				{% if organization.contactPoint.name %}
					{{organization.contactPoint.name}} <br>
				{% endif %}
				{% if organization.contactPoint.email %}
					<a href="mailto:{{organization.contactPoint.email}}">{{organization.contactPoint.email}}</a><br>
				{% endif %}
				{% if organization.contactPoint.telephone %}
					{{ gettext("Phone: ") }}{{organization.contactPoint.telephone}} <br>
				{% endif %}
				{% if organization.contactPoint.faxNumber %}
					{{ gettext("Fax: ") }}{{organization.contactPoint.faxNumber}} <br>
				{% endif %}
				{% if organization.contactPoint.url %}
					<a href="{{organization.contactPoint.url}}" target="_blank">{{organization.contactPoint.url}}</a><br>
				{% endif %}
			{% else %}
				{{ gettext("No contact data provided") }}
			{% endif %}
		</div>
	</div>
	<div class="panel panel-{% if organization.address %}default{% else %}warning{% endif %}">
		<div class="panel-heading">
			<h3 class="panel-title">
				{{ gettext("Address")}}
			</h3>
		</div>
		<div class="panel-body">
			{% if organization.address %}
				{% if organization.address.streetAddress %}
					{{organization.address.streetAddress}} <br>
				{% endif %}
				{% if organization.address.locality %}
					{{organization.address.locality}} <br>
				{% endif %}
				{% if organization.address.region %}
					{{organization.address.region}} <br>
				{% endif %}
				{% if organization.address.postalCode %}
					{{organization.address.postalCode}} <br>
				{% endif %}
				{% if organization.address.countryName %}
					{{organization.address.countryName}} <br>
				{% endif %}
			{% else %}
				{{ gettext("No address data provided") }}
			{% endif %}
		</div>
	</div>
	<div class="panel panel-{% if organization.identifier or organization.additionalIdentifiers %}default{% else %}warning{% endif %}">
		<div class="panel-heading">
			<h3 class="panel-title">
				{{ gettext("Identifiers") }}
			</h3>
		</div>
		<div class="panel-body">
			{% if organization.identifier or organization.additionalIdentifiers %}
				<table class="table table-striped">
					<thead>
						<tr>
							<th>{{ gettext("Scheme") }}</th>
							<th>{{ gettext("Identifer") }}</th>
							<th>{{ gettext("Legal Name") }}</th>
						</tr>
					</thead>
					<tbody>
						{% if organization.identifier %}
							<tr>
								<td><a href="http://standard.open-contracting.org/latest/en/schema/codelists/#organization-identifier-scheme" target="_blank">{{ organization.identifier.scheme }}</a></td>
								<td>{{ organization.identifier.id }}</td>
								<td><a href="{{ organization.identifier.uri }}" target="_blank">{{ organization.identifier.legalName }}</a></td>
							</tr>
						{% endif %}
						{% if organization.additionalIdentifiers %}
							{% for identifier in organization.additionalIdentifiers %}
								<tr>
									<td><a href="http://standard.open-contracting.org/latest/en/schema/codelists/#organization-identifier-scheme" target="_blank">{{ identifier.scheme }}</a></td>
									<td>{{ identifier.id }}</td>
									<td><a href="{{ identifier.uri }}" target="_blank">{{ identifier.legalName }}</a></td>
								</tr>
							{% endfor %}
						{% endif %}
					</tbody>
				</table>
			{% else %}
				{{ gettext("No identifier data provided") }}
			{% endif %}
		</div>
	</div>
</p>