<section id="planning" class="panel panel-default">
	<div class="panel-heading">
		<h2>
			{{ gettext("Planning") }}
		</h2>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-6">
				{% if planning.budget.amount.amount %} <!-- is this approach better than changing the panel body to "... data not provided"? -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								{{ gettext("Budget amount") }} <small>({{ gettext("ID") }})</small>
							</h3>
						</div>
						<div class="panel-body">
							<h4>
							<!-- add number formatting -->
								{{ planning.budget.amount.amount }}
								{{planning.budget.amount.currency}}
								{% if planning.budget.id %}
									<small>({{planning.budget.id}})</small>
								{% else %}
									<small class="bg-warning">({{ gettext("Budget ID not provided") }})</small>
								{% endif %}
							</h4>
						</div>
					</div>
				{% else %}
					<div class="panel panel-danger">
						<div class="panel-heading">
							<h3 class="panel-title">
								{{ gettext("Budget amount not provided") }}
							</h3>
						</div>
					</div>
				{% endif %}
			</div>
			<div class="col-md-6">
				<div class="panel panel-{% if planning.budget.description and planning.budget.source %}default{% else %}warning{% endif %}"> <!-- c.f. to approach above -->
					<div class="panel-heading">
						<h3 class="panel-title">
							{{ gettext("Budget description") }} <small>({{ gettext("Source") }})</small>
						</h3>
					</div>
					<div class="panel-body">
						{% if planning.budget.description %}
							{{planning.budget.description}}
						{% else %}
							<span class="bg-warning">{{ gettext("Budget description not provided.") }}</span>
						{% endif %}
							{% if planning.budget.source %}
								<small>(<a href="{{planning.budget.source}}" target="_blank">{{ gettext("Budget source") }}</a>)</small>
							{% else %}
								<small class="bg-warning">({{ gettext("Budget source not provided") }})</small>
							{% endif %}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				{% if planning.rationale %}
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								{{ gettext("Rationale") }}
							</h3>
						</div>
						<div class="panel-body">
							{{planning.rationale}}
						</div>
					</div>
				{% else %}
					<div class="panel panel-warning">
						<div class="panel-heading">
							<h3 class="panel-title">
								{{ gettext("Rationale") }}
							</h3>
						</div>
						<div class="panel-body">
							{{ gettext("No rationale provided") }}
						</div>
					</div>
				{% endif %}
			</div>
			<div class="col-md-6">
				<div class="panel panel-{% if planning.budget.project and planning.budget.projectID %}default{% else %}warning{% endif %}">
					<div class="panel-heading">
						<h3 class="panel-title">
							{{ gettext("Project information") }} <small>({{gettext("ID")}})</small>
						</h3>
					</div>
					<div class="panel-body">
						{% if planning.budget.project %}
							{{planning.budget.project}}
						{% else %}
							<span class="bg-warning">{{ gettext("Project name not provided.") }}</span>
						{% endif %}
						{% if planning.budget.projectID %}
							<small>({{planning.budget.projectID}})</small>
						{% else %}
							<small class="bg-warning">({{ gettext("Project ID not provided") }})</small>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
			<!-- move this section into a document template -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							{{ gettext("Documents") }}
						</h3>
					</div>
					<div class="panel-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>{{ gettext("Title") }}</th>
									<th>{{ gettext("Type") }}</th>
									<th>{{ gettext("Description") }}</th>
									<th>{{ gettext("Date published") }}</th>
									<th>{{ gettext("Date modified") }}</th>
									<th>{{ gettext("Format") }}</th>
									<th>{{ gettext("Language") }}</th>
								</tr>
							</thead>
							<tbody>
								{% for document in planning.documents %}
									<tr> <!-- add conditional colouring based on presence of url? -->
										<td><a href="{{document.url}}" target="_blank">{{ document.title}}</a></td>
										<td>{{ document.type }}</td>
										<td>{{ document.description }}</td>
										<td>{{ document.datePublished }}</td> <!-- add date formatting -->
										<td>{{ doucment.dateModified }}</td> <!-- add date formatting -->
										<td>{{ document.format}}</td>
										<td>{{ document.language}}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


