<header class="row">
	<div class="col-md-12">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1>
						{{tender.title}} <small><a data-toggle="collapse" href="#metadata">(hide metadata)</a></small>
					</h1>
				</div>
				<div id="metadata" class="panel-collapse collapse in">
					<ul class="list-group">
						<li class="list-group-item">
							<strong>OCID: </strong>{{ocid}}
						</li>
						<li class="list-group-item">
							<strong>Release ID: </strong>{{id}}
						</li>
						<li class="list-group-item">
							<strong>Date: </strong>{{date}}
						</li>
						<li class="list-group-item">
							<strong>Tags: </strong>
							{{ tag|join(", ") }}
						</li>
						<li class="list-group-item">
							<strong>Initiation type: </strong>{{initiationType}}
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>
<main class="row">
	<div class="col-md-8">
		{% if planning %}
			{% include 'planning.html' %}
		{% else %}
			<div class="panel panel-danger"> <!-- make the panel behaviour dependent on the release tags, e.g. if planning is present in the release tags this should be danger, otherwise make it collapse -->
				<div class="panel-heading">
					<h2 class="panel-title">
						No planning data provided
					</h2>
				</div>
			</div>
		{% endif %}
		{% include 'tender.html' %}
		{% include 'awards.html' %}
		{% include 'contracts.html' %} 		
	</div>
	<div class="col-md-4">
		<div class="panel panel-{% if buyer %}default{% else %}warning{% endif %}">
			<div class="panel-heading">
				<h3>
					{{ gettext("Buyer") }}
				</h3>
			</div>
			<div class="panel-body">
				{% if buyer %}
					{% set organization = buyer %}
					{% set title = gettext("Buyer") %}
					{% include 'organization.html' %}
				{% else %}
					{{ gettext("No buyer information provided") }}
				{% endif %}

			</div>
		</div>
		<div class="panel panel-{% if tender.procuringEntity %}default{% else %}warning{% endif %}">
			<div class="panel-heading">
				<h3>
					{{ gettext("Procuring entity") }}
				</h3>
			</div>
			<div class="panel-body">
				{% if tender.procuringEntity %}
					{% set organization = tender.procuringEntity %}
					{% include 'organization.html' %}
				{% else %}
					{{ gettext("No procuring entity information provided") }}
				{% endif %}
			</div>
		</div>
	</div>
</main>