<div class="panel panel-{% if transactions|length > 0 %}default{% else %}warning{% endif %}">
	<div class="panel-heading">
		<h3 class="panel-title">
			{{ gettext("Transactions") }}
		</h3>
	</div>
		{% if transactions|length > 0 %}
      <div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{ gettext("ID") }}</th>
						<th>{{ gettext("Date") }}</th>
						<th>{{ gettext("Value") }}</th>
						<th>{{ gettext("Provider organization") }} <small>({{ gettext("Scheme - ID") }})</small></th>
						<th>{{ gettext("Receiver organization") }} <small>({{ gettext("Scheme - ID") }})</small></th>
						<th>{{ gettext("Payee") }} </th>
						<th>{{ gettext("Payer") }} </th>
						<th>{{ gettext("Related Milestone") }} </th>
						<th>{{ gettext("Links") }}</th>
					</tr>
				</thead>
				<tbody>
					{% for transaction in transactions %}
						<tr>
							<td>{{ transaction.id }}</td>
							<td>{{ transaction.date|truncate(10,true,"") }}</td>
							<td>{{ transaction.amount.amount|currency }} {{ transaction.amount.currency }}</td>
							<td>{{ transaction.providerOrganization.legalName }} <small><a href="{{transaction.providerOrganization.uri}}">({{ transaction.providerOrganization.scheme }} - {{ transaction.providerOrganization.id }})</a></small></td>
							<td>{{ transaction.receiverOrganization.legalName }} <small><a href="{{transaction.receiverOrganization.uri}}">({{ transaction.receiverOrganization.scheme }} - {{ transaction.receiverOrganization.id }})</a></small></td>
              <td>{{ transaction.payee.name }} <small> ({{ transaction.payee.id }})</a></td>
              <td>{{ transaction.payer.name }} <small> ({{ transaction.payer.id }})</a></td>
              <td>
                 {{transaction.relatedImplementationMilestone.title}}
                 {{change_label(transaction.relatedImplementationMilestone, 'title')}}

                 {% if transaction.relatedImplementationMilestone.id %}
                   ({{transaction.relatedImplementationMilestone.id}}) {{change_label(transaction.relatedImplementationMilestone, 'id')}}
                 {% endif %}
              </td>
							<td><a href="{{transaction.source}}">Source</a> / <a href="{{transaction.uri}}">URI</a></td>
						</tr>
					{% endfor %}
				</tbody>	
        </div>
			</table>
		{% else %}
			{{ gettext("No transactions provided") }}
		{% endif %}
</div>
